* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(214, 252, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;


}

.container .leftSide {
    position: relative;
    background-color: rgb(126, 159, 241);
    padding: 40px;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile h2 {
    color: #fff;
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.contactInfo .title {
    color: #fff;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;

}

.contactInfo ul li .material-icons {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: pink;
}

.contactInfo ul li .text {
    color: #fff;
}

.contactInfo ul li a {
    text-decoration: none;
    cursor: pointer;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: pink;
}

.contactInfo.education h4 {
    color: white;
}

.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: pink;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: coral;
}


.container .rightSide {
    position: relative;
    background-color: white;
    padding: 40px;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: rgb(241, 126, 126);
    margin-bottom: 10px;
}

p {
    color: #333;
}

.about .box {
    display: flex;
    margin: 20px 0;
}

.about .box .year-company {
    min-width: 150px;
}

.about .box .year-company h5 {
    color: darkgray;
}

.about .box .text h4 {
    color: rgb(241, 126, 126);
    font-size: 16px;
}

.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skills .box h4 {
    color: darkgrey;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: pink;
}

.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: coral;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    margin: 10px 0;

}

.interest ul li .material-icons {
    color: rgb(241, 126, 126);
    font-size: 20px;
}


@media (max-width:1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:600px) {
    .about .box {
        flex-direction: column;

    }

    .about .box .year-company {
        margin-bottom: 5px;
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*作者：Sophia-webdev https: //www.bilibili.com/read/cv14396669/?spm_id_from=main.mine-history.0.0.pv 出处：bilibili*/